---
# default
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: false

#alignement
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
AccessModifierOffset: -4

#include
IncludeCategories: 
#asgard
  - Regex:           '^"asgard/.*"'
    Priority:        3
#valhalla
  - Regex:           '^<valhalla/.*>'
    Priority:        4
#boost
  - Regex:           '^<boost/.*>'
    Priority:        5
#stl
  - Regex:           '^<[^.]+>'
    Priority:        6
#external header 
  - Regex:           '^<.*>'
    Priority:        2
#local header
  - Regex:           '^".*"'
    Priority:        1
---
 
