[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "navitia-proto"]
	path = navitia-proto
	url = git@github.com:CanalTP/navitia-proto.git
[submodule "utils"]
	path = utils
	url = git@github.com:CanalTP/utils.git
[submodule "third_party/date"]
	path = third_party/date
	url = https://github.com/HowardHinnant/date.git
[submodule "third_party/prometheus-cpp"]
	path = third_party/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
